{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Logon</title>
    <script src="https://www.gstatic.com/firebasejs/9.11.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.11.0/firebase-auth-compat.js"></script>
    <script type="text/javascript">
    // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDn63P4LwWmB6udxvNXm_Ed10MJ26TjEaY",
        authDomain: "practice-b5aa4.firebaseapp.com",
        projectId: "practice-b5aa4",
        storageBucket: "practice-b5aa4.appspot.com",
        messagingSenderId: "405362124444",
        appId: "1:405362124444:web:069b2c7b80394f8e742f59",
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://www.gstatic.com/firebasejs/ui/3.1.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.1.1/firebase-ui-auth.css" />

  </head>
  <body>

    <h1>Simple Circle Service</h1>

    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>

    <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <pre id="account-details"></pre>

    <script type="text/javascript">

      var uiConfig = {
        callbacks: {
          signInSuccessWithAuthResult: function(authResult, redirectUrl) {
            return true;
          },
          uiShown: function() {
            document.getElementById('loader').style.display = 'none';
          }
        },
        signInFlow: 'redirect',
        signInSuccessUrl: './logon',
        signInOptions: [
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          firebase.auth.TwitterAuthProvider.PROVIDER_ID,
          {
            provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
            signInMethod: firebase.auth.EmailAuthProvider.EMAIL_LINK_SIGN_IN_METHOD
          },
        ],

        tosUrl: 'http://localhost:8000/app/fbtest2',
        // Privacy policy url/callback.
        privacyPolicyUrl: 'http://localhost:8000/app/fbtest2',

      };

      firebase.auth().languageCode = 'fr';
      var ui = new firebaseui.auth.AuthUI(firebase.auth());

      ui.start('#firebaseui-auth-container', uiConfig);
    </script>
  </body>
</html>
